<div class="card">
    <div class="card-header" id="heading{{@index}}">
        <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}">
            {{id}} ) {{burger_name}}
        </button>
        <button class="btn btn-danger delete float-right" data-deleteid="{{id}}">Delete</button>
        </h5>
    </div>

    <div id="collapse{{@index}}" class="collapse" aria-labelledby="heading{{@index}}" data-parent="#accordionBurgersMade">
        <div class="card-body">
            <ul>
            <li>Patty: {{patty_count}} x {{burger_patty}}</li>
            <li>Toppings:{{topping_list}}</li>
            <li>Burger Made: {{created_at}}</li>
            </ul>
        </div>
    </div>
</div>